---
layout: index
title: Podcast Algoritmos
tagline: Aquí aprenderemos juntos sobre los algoritmos que utilizan las herramientas digitales, también discutiremos los problemas derivados de su uso y las nuevas oportunidades que nos brindan.
css: 
js:
keywords: Programación, IA, Inteligencia Artificial, Algoritmos, Machine Learning, Ciencia de Datos, Software, marianoog, PodcastAlgoritmos
canonical: https://marianoog.github.io
---
{% include JB/setup %}

<!-- Content Area Start -->
<div id="content">

  <div class="header-style-2">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-8">
          <div class="hero-content-v2">
            <h3>Notas del <strong>Podcast <span class="text-primary">Algoritmos</span></strong></h3>
            <p>Cree el Podcast Algoritmos para tener pláticas interesantes y aprender más sobre los temas que me gustan. Como cualquier persona cometo errores y no puedo abarcarlo todo en un simple episodio. Aquí encontrarás las notas del programa donde dejaré los enlaces que se mencionan en cada episodio, información extra y las correciones que se hagan.</p>
            <p class="text-center"><a href="https://ona309.com/Podcast" class="page-scroll btn btn-lg btn-default-filled">Escuchar Podcast</a></p>
          </div>
        </div>
        
        <div class="col-xs-12 col-sm-4">
          <figure>
            <img src="{{ BASE_PATH }}/images/podcast.jpg" alt="Portada del Podcast Algoritmos">
          </figure>
        </div>

      </div>
    </div>

  </div>

  <div class="mb-60"></div>

  <div class="container">
    <h4 class="sub-title space-left">Episodios</h4>
    <p>Si no encuentras lo que buscas o si quieres hacer una corrección o aporte, no dudes en contactarme por redes sociales.</p>
  </div>

  <div class="mb-60"></div>

  <!-- Posts -->
  <section id="blog">
    <div class="container">                              
      <div class="row">
        {% for post in site.posts %}
          <div class="col-md-4 mt-4">
            <div class="blog-block">
              <img src="{{ BASE_PATH }}/images/{{ post.cap }}.jpg" alt="Portada de {{ post.title }}">
              <div class="blog-content">
                <h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
                <p>{{ post.tagline }}</p>
                <p class="text-center"><a href="{{ BASE_PATH }}{{ post.url }}" class="btn btn-common">Leer notas</a></p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  </section>
  <!-- End Posts -->

</div>
